@model ReaderViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="row justify-content-center heading">
        <div class="col-4">
            <h2>Edit reader</h2>

            <form method="post" class="text-start">
                <br />
                <label asp-for="FirstName" class="control-label"></label>
                <span asp-validation-for="FirstName" class="text-danger"></span>
                <input asp-for="FirstName" placeholder="Enter first name (max 30 characters)" class="form-control" />

                <label asp-for="LastName" class="control-label"></label>
                <span asp-validation-for="LastName" class="text-danger"></span>
                <input asp-for="LastName" placeholder="Enter last name (max 30 characters)" class="form-control" />

                <label asp-for="Address" class="control-label"></label>
                <span asp-validation-for="Address" class="text-danger"></span>
                <input asp-for="Address" placeholder="Enter address (max 30 characters)" class="form-control" />

                <label asp-for="PhoneNumber" class="control-label"></label>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                <input asp-for="PhoneNumber" placeholder="Enter phone number (max 15 characters)" class="form-control" />

                <label asp-for="RegistrationDate" class="control-label"></label>
                <span asp-validation-for="RegistrationDate" class="text-danger"></span>
                <input asp-for="RegistrationDate" class="form-control" />
                <br />
                <div class="text-center">
                    <button type="submit" class="createbtn w-button text-black">Update</button>
                    <a class="closebtn w-button text-white btn-secondary" asp-action="Index">Cancel</a>
                </div>
            </form>

        </div>
    </div>
   
}
else
{
    <h1 class="heading">You don't have accsess to this page</h1>
}


