@model GenreViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.IsInRole("Administrator"))
{
    <div class="row justify-content-center heading">
        <div class="col-4">
            <h2>Create genre</h2>
            <form asp-action="Create" class="text-start">
                <br />
                <label asp-for="Name" class="control-label">Genre name</label>
                <span asp-validation-for="Name" class="text-danger"></span>
                <input asp-for="Name" placeholder="Enter name (max 15 characters)" class="form-control mb-3" />
                <div class="text-center">
                    <button type="submit" class="createbtn w-button text-black">Send</button>
                    <a class="closebtn w-button text-white btn-secondary" asp-action="Index">Cancel</a>
                </div>
            </form>
        </div>
    </div>
}
else
{
    <h1 class="heading">You don't have accsess to this page</h1>
}
