@model AuthorViewModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (User.IsInRole("Administrator"))
{
    <div class="row justify-content-center heading">
        <div class="col-4">
            <h1>Delete author</h1>
            <form method="post">
                <h2>Are you sure you want to delete this author?</h2>
                <br />
                <h3 class="text">@Model.FirstName @Model.LastName</h3>
                <br />
                <button type="submit" class="createbtn w-button text-black">Delete</button>
                <a class="closebtn w-button text-white btn-secondary" asp-action="Index">Cancel</a>
            </form>
        </div>
    </div>
}
else
{
    <h1>You don't have accsess to this page</h1>
}
