@model TransactionViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (User.IsInRole("Administrator"))
{
    <div class="row justify-content-center heading">
        <div class="col-4">
            <h2>Create transaction</h2>
            <form asp-action="Create" asp-route-readerId="@ViewBag.ReaderId">
                <br />
                <span asp-validation-for="BookId" class="text-danger"></span>
                @Html.DropDownListFor(model => model.BookId, Model.Books, "Choose a book", new { @class = "form-control mb-3" })
                <br />
                <button type="submit" class="createbtn w-button text-black">Send</button>
                <a class="closebtn w-button text-white btn-secondary" asp-action="Index" asp-route-readerId="@ViewBag.ReaderId">Cancel</a>
            </form>
        </div>
    </div>
}
else
{
    <h1 class="heading">You don't have accsess to this page</h1>
}

