@model TransactionViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center mt-5">
    @if (User.IsInRole("Administrator"))
    {
        <div class="row justify-content-center mt-5">
            <div class="col-md-3">
                <form method="post">
                    <div class="text-start">
                        <span asp-validation-for="BookId" class="text-danger"></span>
                        @Html.DropDownListFor(model => model.BookId, Model.Books, "Select a book", new { @class = "form-control mb-3" })

                        <span asp-validation-for="TransactionStatusId" class="text-danger"></span>
                        @Html.DropDownListFor(model => model.TransactionStatusId, Model.TransactionStatuses, "Select a status", new { @class = "form-control mb-3" })

                        <label asp-for="CheckoutDate" class="control-label"></label>
                        <span asp-validation-for="CheckoutDate" class="text-danger"></span>
                        <input asp-for="CheckoutDate" class="form-control mb-3" />

                        <label asp-for="ReturnDate" class="control-label"></label>
                        <span asp-validation-for="ReturnDate" class="text-danger"></span>
                        <input asp-for="ReturnDate" class="form-control mb-3" />
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary mt-3 text-center">Update</button>
                    <a asp-action="Index" asp-route-readerId="@Model.ReaderId" class="btn btn-secondary mt-3">Cancel</a>
                </form>
            </div>
        </div>
    }
    else
    {
        <h1>You don't have accsess to this page</h1>
    }
    <h2 class="text-primary">Edit book</h2>
  
    
</div>

