@model IEnumerable<TransactionStatusViewModel>
@{
    ViewData["Title"] = "TransactionStatuses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.IsInRole("Administrator"))
{
    <div class="div-block-18">
        <h2 class="heading-2">
            Transaction statuses
        </h2>
        <a class="createbtn w-button text-black" asp-action="Create">Create new</a>
    </div>
    <div id="w-node-b8974190-80ed-9567-1ee2-29d752334a94-4d8efa88" class="w-layout-layout quick-stack-2 wf-layout-layout">
        @foreach (var transactionStatus in Model)
        {
            <div id="w-node-cfaa6eca-eb95-75fe-cd47-b3e5b3ee8ccd-4d8efa88" class="w-layout-cell cell">
                <p class="themainlable">
                    @transactionStatus.Name
                </p>
                <div class="div-block-20">
                    <p class="mainlable">
                        Genre name
                    </p>
                    <p class="secondlabel">
                        @transactionStatus.Name
                    </p>
                </div>

                <div class="div-block-19">
                    <a class="editbtn w-button text-white" asp-action="Edit" asp-route-id="@transactionStatus.Id">Edit</a>
                    <a class="deletebtn w-button text-white" asp-action="Delete" asp-route-id="@transactionStatus.Id">Delete</a>
                </div>
            </div>
        }
    </div>
}
else
{
    <h1 class="heading">You don't have accsess to this page</h1>
}
